ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 1rem;
}

body {
    background-color: #ffb3c6;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

a{
    color: #ec6e90;
    text-align: none;
}

a:hover { 
    color: #ffe5ec;

}

.galeria img {
    transition: transform 0.2;
    width: 300px;
}
.botões{
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    height: 16px;
    width: 100%;
    margin-top: 550px;
}
body.inicio{
    background-image: url(imagens/fundo.png);
    background-size: cover;
    
}
body.index{
    background-image: url(imagens/rosa.png);
    background-size: cover;
   
}
body.projetos{
    background-image: url(imagens/fundo.png);
    background-size: cover; 
    
}
body.galeria{
    background-image: url(imagens/fundo.png);
    background-size: cover; 
   
}
body.biografia{
    background-image: url(imagens/fundo.png);
    background-size: cover; 
    
}
nav{
   display: flex; 
   justify-content: center;
   gap: 15px;
   margin-top: -40px;
   margin-bottom: 40px;
}
.texto{
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}
p{
    word-wrap: break-word;
    max-width: 50%;
} 